:root {
  font-family: -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
}

main {
}

nav {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-flow: row nowrap;
}
.container > * {
  flex-basis: 50%;
}

.graphs {
}
.graph {
  display: grid;
  grid-gap: 2px;
  padding: 0.5rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 50%;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}
.graph-health {
}
.graph-food {
}
.graph-housing {
}
.graph-money {
}
.graph-total {
}
.line {
  position: relative;

  display: grid;
  grid-gap: 2px;
  grid-template-columns: repeat(225, 1fr) 4ch;
  align-items: center;

  font-size: 12px;
  font-family: "SF Mono", "Roboto Mono", "Monaco", "Inconsolata", "Fira Mono",
    "Droid Sans Mono", "Source Code Pro", monospace;
  line-height: 1;

  font-weight: 500;

  --opacity: calc((var(--count) * 0.005) + 0.25);
  --graph-color: rgba(0, 0, 0, var(--opacity, 1));
}
.graph-health .line {
  --count: var(--health);
  --graph-color: hsla(0, 75%, 50%, var(--opacity));
}
.graph-food .line {
  --count: var(--food);
  --graph-color: hsla(40, 100%, 50%, var(--opacity));
}
.graph-housing .line {
  --count: var(--housing);
  --graph-color: hsla(240, 100%, 50%, var(--opacity));
}
.graph-money .line {
  --count: var(--total);
  --graph-color: hsla(120, 100%, 25%, var(--opacity));
}
.graph-total .line {
  --count: var(--total);
  --graph-color: hsla(300, 100%, 25%, var(--opacity));
}

.line__display {
  grid-column-start: 1;
  grid-column-end: var(--count);

  background-color: var(--graph-color, gray);

  height: 100%;
}
.line__date {
  grid-column-start: 1;
  grid-column-end: var(--count);
  display: none;

  text-align: left;
}
.line__count {
  /* grid-column-start: 1;
  grid-column-end: var(--count); */
}
.count {
  display: none;
}

.graph-health .count-health {
  display: block;
}
.graph-food .count-food {
  display: block;
}
.graph-housing .count-housing {
  display: block;
}
.graph-money .count-money {
  display: block;
}
.graph-total .count-total {
  display: block;
}

.calls {
  z-index: calc(var(--count) + 1000);
}

.call {
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 0.5rem;
}
.call + .call {
  margin-top: 0.67em;
}
