<article class="card card--{{ item.type }}  category-{{ category.slug }} date-{{ item.date_num }}" data-date="{{ item.date_num }}">
  <div class="card--{{ item.type }}__content">
    <h2 class="visually-hidden">{{ category.name }}</h2>
    <p>
      {{ item.text }}
    </p>
  </div>
</article>