{% extends "card.njk" %}

{% block content %}
  <div class="dateline">
    {{ item.date_long }}
  </div>
  <div class="ll-card--{{ item.type }}__title">
    <strong>{{ item.headline }}</strong>
  </div>
  {% if item.text %}
    <div class="ll-card--{{ item.type }}__content">
      <p>
        {{ item.text }}
      </p>
    </div>
  {% endif %}

{% endblock %}