<article class="ll-card ll-card--{{ item.type }} category-{{ category.slug }} date-{{ item.date_num }}" data-date="{{ item.date_num }}">
  <div class="ll-card--{{ item.type }}__content">
    <h2 class="visually-hidden sr-only">{{ category.name }}</h2>
    <p>
      {{ item.text }}
    </p>
  </div>
</article>