{% extends "card.njk" %}

{% block content %}
  <div class="ll-card--{{ item.type }}__date">
    <strong>{{ item.date_long }}</strong>
  </div>
  <div class="ll-card--{{ item.type }}__title">
    <h3>
      {% if item.sourceurl %}
        <a href="{{item.sourceurl}}">
          {{ item.headline }}
        </a>
      {% else %}
        {{ item.headline }}
      {% endif %}
    </h3>
  </div>
  {% if item.text %}
    <div class="ll-card--{{ item.type }}__content">
      <p>
        {{ item.text }}
      </p>
    </div>
  {% endif %}
{% endblock %}