{% extends "card.njk" %}

{% block content %}
  <div class="ll-card-header ll-card--{{ item.type }}__header">
    <div class="ll-card--{{ item.type }}__meta">
      <h3>
        {% if item.parish %}
          <div class="ll-card-parish">
            <small>{{ item.parish }}
              Parish</small>
          </div>
        {% endif %}
        <time class="date" datetime="{{ item.date_datetime }}">{{ datetime }}</time>
      </h3>
    </div>

    <a class="ll-share-link" href="#{{ card_id | slug }}" data-title="211 call from {{ item.parish }} on {{ item.date_long }}" data-url="#{{ card_id | slug }}">
      <i class="fa fa-link" aria-hidden="true"></i>
      <span class="sr-only">Share</span>
    </a>
  </div>
  <div class="ll-card--{{ item.type }}__content">
    <p>{{ item.text }}</p>
  </div>
  <div class="ll-card--{{ item.type }}__meta ll-card--{{ item.type }}__footer">
    <div class="ll-card-length">
      <small>Length:</small>
      {{ item.length | int }}
      min.
    </div>
  </div>
{% endblock %}