{% set card_id %}
{{ category.slug ~ "-" ~ item.type ~ "-" ~ item.date_slug }}
{% endset %}
{% if item.time %}
  {% set card_id = card_id  ~ "-" ~ item.time | replace(":", "") %}
{% endif %}

{% set datetime %}
{{ item.date_long }}
{% endset %}
{% if item.time %}
  {% set datetime = datetime ~ ", " ~ item.time %}
{% endif %}

<article class="ll-card ll-card--{{ item.type }}" data-ll-date="{{ item.date_num }}" id="{{ card_id | slug }}">
  {% block content %}{% endblock %}
</article>