<section class="ll" id="ll-embed">
  <div class="ll-wrapper">
    <header class="ll-header">
      <strong class="ll-header-title">Call Types</strong>
      <nav class="ll-nav ll-nav--header" aria-label="Call Types">
        {% include "nav-links.njk" %}
      </nav>
    </header>

    <div class="ll-category-wrapper ll-category-wrapper--layered" style="--ll-count-total: {{ stat_totals.largest }}">
      {%- for category in categories -%}
        <section class="ll-category ll-category--{{ category.slug }}" data-ll-category="{{ category.slug }}" data-ll-category-active="intro" id="{{ category.slug }}">
          <div class="ll-category-column ll-category-column--card">
            <div class="ll-card-stack-wrapper">
              <div class="ll-card-stack">
                {%- for item in entries -%}
                  {%- if item.category == category.name or item.category == "All" -%}
                    {% include "card-" ~ item.type ~ ".njk" %}
                  {%- endif -%}
                {%- endfor -%}
              </div>
            </div>
          </div>
          <div class="ll-category-column ll-category-column--graph">
            <div class="ll-graph-wrapper">
              {% include "graph.njk" %}
            </div>
          </div>
        </section>
      {%- endfor -%}
    </div>

    <footer class="ll-footer">
      <nav class="ll-nav" aria-label="Call Types">
        {% include "nav-links.njk" %}
      </nav>
    </footer>
  </div>
</section>