<section class="lifeline">
  <div class="lifeline-wrapper" data-lifeline-active-category="intro">
    <header class="lifeline-header">
      <nav class="lifeline-nav" aria-label="Main Menu">
        {% include "nav-links.njk" %}
      </nav>
    </header>

    <section class="lifeline-column-wrapper">
      <div class="lifeline-column column-card">
        {%- for category in categories -%}
          <section class="card-category category-{{ category.slug }}" data-lifeline-category="{{ category.slug }}" data-lifeline-active-category="intro">
            <div class="card-stack">
              {%- for item in entries -%}
                {%- if item.category == category.name or item.category == "All" -%}
                  {% include "card-" ~ item.type ~ ".njk" %}
                {%- endif -%}
              {%- endfor -%}
            </div>
          </section>
        {%- endfor -%}
      </div>
      <div class="lifeline-column column-graph">
        <table class="graph-wrapper" style="--ll-count-total: {{ stat_totals.largest }}">
          <thead class="visually-hidden sr-only screen-reader-text">
            <th>Date</th>
            {% for category in categories %}
              <th>Date</th>
            {% endfor %}
          </thead>
          <tbody class="graph">
            {%- for item in stats -%}
              <tr class="line" data-date="{{ item.date_num }}">
                <td class="line__date">
                  <span class="date" data-day-of-week="{{ item.day | truncate(1, true, " ") }}">{{ item.date_short }}</span>
                </td>
                {% for category in categories %}
                  {% if category.slug == "health" %}
                    {% set amount = item.health %}
                  {% endif %}
                  {% if category.slug == "food" %}
                    {% set amount = item.food %}
                  {% endif %}
                  {% if category.slug == "housing" %}
                    {% set amount = item.housing %}
                  {% endif %}
                  {% if category.slug == "financial" %}
                    {% set amount = item.financial %}
                  {% endif %}
                  <td class="line__display category-{{ category.slug }}" style="--ll-count: {{ amount }};" data-count="{{ amount }}" data-lifeline-category="{{ category.slug }}" data-lifeline-active-category="intro">
                    <span class="visually-hidden">
                      {{ category.name }}:
                      {{ amount }}
                      Calls
                    </span>
                  </td>
                {%- endfor -%}
              </tr>
            {%- endfor -%}
          </tbody>
        </table>
      </div>
    </section>

    <footer class="lifeline-footer">
      <nav class="lifeline-nav" aria-label="Categories">
        {% include "nav-links.njk" %}
      </nav>
    </footer>
  </div>
</section>