a {
	color: var(--ll-link-color);
}
a:hover {
	color: var(--ll-link-color-hover);
}
a:focus {
	color: var(--ll-link-color-hover);
}
a:active {
	color: var(--ll-link-color-hover);
}
a:hover,
a:focus,
a:active {
	filter: saturate(150%);
}
a.button {
	text-decoration: none;
}

a,
button {
	@include transition-basic;
}
