/* Box sizing rules */
a {
	color: var(--ll-link-color);
	&:hover,
	&:active,
	&:focus {
		color: var(--ll-link-color-hover);
		filter: saturate(120%);
	}
}

a.button[href],
button {
	-webkit-appearance: none;
	appearance: none;
	text-decoration: none;

	border-width: 0;
	padding: 0.75rem 1.5rem;

	color: white;
	background-color: $text-color;
	background-color: var(--ll-text-color);
	border-radius: 2px;

	font-size: 1.15rem;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;

	@include transition-basic;

	&:hover,
	&:active,
	&:focus {
		outline-color: $text-color;
		outline-color: var(--ll-text-color);
		background-color: $accent-color;
		background-color: var(--ll-accent-color);
	}
}
a.button[href],
button {
	&.ll-active {
		box-shadow: 0 0 0 0.25rem $text-color;
		box-shadow: 0 0 0 0.25rem var(--ll-text-color);
		outline-color: $text-color;
		outline-color: var(--ll-text-color);
		background-color: $accent-color;
		background-color: var(--ll-accent-color);
	}
}

tr {
	padding: 0;
	background-color: transparent;
	border-width: 0;
}
td {
	padding: 0;
	border-width: 0;
}
