// =========================================
// Categories

.lifeline-intro-wrapper {
	position: relative;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;

	> * {
		grid-column: 1 / -1;
		grid-row: 1 / -1;
		opacity: var(--ll-line-opacity, 0);

		@include transition-basic($property: opacity);
	}
}
.lifeline-intro {
	position: relative;
	max-width: 60ch;
	margin: 2rem auto 0;
}
.lifeline-intro-inner {
	padding: 1.5rem 2rem;
	border: 2px solid var(--ll-text-color);
	border-radius: 2px;
	background-color: rgba(255, 255, 255, 0.75);
	filter: drop-shadow(0 0 2px rgba(58, 58, 58, 0.25));

	font-size: 1.25rem;
	font-style: italic;

	> * + * {
		margin-top: 1rem;
	}
}

// =========================================
// Content

.ll-card-stack {
	display: flex;
	flex-flow: column;
	align-items: flex-end;
	@media screen and (min-width: 992px) {
		padding-left: 1rem;
	}
}
.ll-card-stack > * + * {
	margin-top: 1.25rem;
}

$card-offset: 2%;
.ll-card {
	position: relative;
	padding: 1rem;
	max-width: 75%;
	margin-right: $card-offset;
	margin-left: $card-offset;

	@media screen and (min-width: 992px) {
		width: 100%;
		max-width: calc(100% - #{$card-offset * 2});
		padding: 1.5rem;
	}
	@media screen and (min-width: 1200px) {
		width: 60ch;
	}

	--ll-link-color: currentColor;
	--ll-link-color-hover: var(--ll-text-color);

	> * {
		position: relative;
		z-index: 2;
	}

	a {
		text-decoration-color: var(--ll-text-color);
		border-color: var(--ll-text-color);
	}

	p:last-child {
		margin: 0;
	}

	color: black;
	background-color: rgba(238, 238, 238);

	color: var(--card-text-color, black);
	background-color: var(--card-background-color, rgba(238, 238, 238, 0.8));
	box-shadow: 0 0 2px var(--card-shadow-color);
	text-shadow: 0 0 0.5em var(--card-background-color);
	border-radius: var(--card-border-radius, 0);

	@supports (-webkit-backdrop-filter: blur(2px)) {
		@media screen and (min-width: 992px) {
			border-radius: 0;
			background-color: transparent;
			filter: none;

			&::after {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				z-index: 1;

				background-color: var(--card-background-color);
				border-radius: var(--card-border-radius);
				box-shadow: 0 0 2px 1px var(--card-shadow-color);
				-webkit-backdrop-filter: blur(2px);
				backdrop-filter: blur(2px);
			}
		}
	}
}
.ll-card > *:not(.visually-hidden) + * {
	margin-top: 0.75rem;
}

.ll-card--intro {
	padding: 1.5rem 2rem;
	margin-right: $card-offset / 2;
	margin-left: $card-offset / 2;

	border: 2px solid var(--ll-text-color);

	--card-border-radius: 4px;
	--card-background-color: rgba(238, 238, 238, 0.6);

	font-size: 1.25rem;

	> * + * {
		margin-top: 1rem;
	}
}
.ll-card--intro__title {
}
.ll-card--intro__content {
	font-style: italic;
}

.ll-card--news {
	@media screen and (min-width: 992px) {
		// margin-right: $card-offset;
		transform: translateX($card-offset/2);
	}

	--card-background-color: rgba(238, 238, 238, 0.67);
	--card-shadow-color: rgba(58, 58, 58, 0.25);
}
.ll-card--news__date {
	margin-bottom: -0.5em;
	font-size: 13px;
}
.ll-card--news__title {
	font-size: 1.2em;
	text-transform: uppercase;
	font-weight: bold;
}
.ll-card--news__content {
	display: none;
}

.ll-card--call {
	@media screen and (min-width: 992px) {
		// margin-left: $card-offset;
		transform: translateX(-$card-offset/2);
	}

	--card-text-color: rgba(255, 255, 255, 1);
	--card-background-color: rgba(0, 0, 0, 0.67);
	--card-shadow-color: rgba(255, 255, 255, 0.75);

	--card-border-radius: 1.5rem;

	font-family: $font-family-mono;
}
.ll-card--call__header {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-between;

	letter-spacing: -0.025em;
}
.ll-card--call__meta {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 13px;
}
.ll-card--call__meta small {
	opacity: 0.85;
	font-weight: bolder;
}
.ll-card--call__meta:first-child {
}
.ll-card--call__meta:last-child {
}
.ll-card--call__datetime {
	display: flex;
	flex-flow: row wrap;

	> *:not(:last-child)::after {
		content: ", ";
	}
}
.ll-card--call__content {
	letter-spacing: -0.025em;
}
