// =========================================
// Categories

.lifeline-intro-wrapper {
	position: relative;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;

	> * {
		grid-column: 1 / -1;
		grid-row: 1 / -1;
		opacity: var(--ll-line-opacity, 0);

		@include transition-basic($property: opacity);
	}
}
.lifeline-intro {
	position: relative;
	max-width: 60ch;
	margin: 2rem auto 0;
}
.lifeline-intro-inner {
	padding: 1.5rem 2rem;
	border: 2px solid var(--ll-text-color);
	border-radius: 2px;
	background-color: rgba(255, 255, 255, 0.75);
	filter: drop-shadow(0 0 2px rgba(58, 58, 58, 0.25));

	font-size: 1.25rem;
	font-style: italic;

	> * + * {
		margin-top: 1rem;
	}
}

// =========================================
// Content

$card-offset: 3vw;

.cards {
	position: relative;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
}
.cards > * {
	grid-column: 1 / -1;
	grid-row: 1 / -1;
	opacity: 0;

	@include transition-basic($duration: 250ms, $property: "transform, opacity");
}
.cards > *.active {
	z-index: 50;
	opacity: 1;
}
.category {
	transform: translateX(var(--ll-card-transform, -100%));

	transform-origin: center left;
}

.card-group {
	display: flex;
	flex-flow: column;
	align-items: flex-end;
}
.card-group > * + * {
	margin-top: 1.25rem;
}

.card {
	position: relative;
	max-width: 75%;
	padding: 1rem;
	@media screen and (min-width: 768px) {
		max-width: 60ch;
		padding: 1.5rem;
	}
	margin-left: auto;

	--ll-link-color: currentColor;
	--ll-link-color-hover: var(--ll-text-color);

	a {
		text-decoration-color: var(--ll-text-color);
	}

	p:last-child {
		margin: 0;
	}
}
.card > * + * {
	margin-top: 0.75rem;
}

.card--news {
	@media screen and (min-width: 768px) {
		margin-right: $card-offset;
	}

	background-color: rgba(255, 255, 255, 0.5);
	filter: drop-shadow(0 0 2px rgba(58, 58, 58, 0.4));
}
.card--news__title {
	font-size: 1.2em;
	text-transform: uppercase;
	font-weight: bold;
}
.card--news__content {
}
.card--news__dateline {
	color: var(--ll-text-color);
}

.card--call {
	@media screen and (min-width: 768px) {
		margin-left: $card-offset;
	}

	color: white;
	background-color: rgba(0, 0, 0, 0.67);
	border: 2px solid rgba(255, 255, 255, 0.9);

	border-radius: 1.5rem;
	font-family: $font-family-mono;
}
.card--call__header > *:not(:last-child)::after {
	content: ", ";
}
.card--call__meta {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 13px;
}
.card--call__meta small {
	opacity: 0.85;
	font-weight: bolder;
}
.card--call__meta:first-child {
}
.card--call__meta:last-child {
}
.card--call__content {
	position: relative;
}
