.content {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
}
.content > * {
	grid-column: 1 / -1;
	grid-row: 1 / -1;
	opacity: 0;

	@include transition-basic($property: opacity);
}
.content > *.active {
	z-index: 50;
	opacity: 1;
}

.card-group {
	padding: 0 1rem;

	transform: translateX(var(--card-transform, 100%));

	transform-origin: center right;

	transition-duration: 250ms;
	transition-property: color, background-color, border-color, opacity, transform, filter, box-shadow, outline-color;
	transition-timing-function: ease-in-out;
}
.card-group > * + * {
	margin-top: 0.875rem;
}

.card {
	position: relative;
	padding: 1.25rem;

	--link-color: var(--text-color);
	--link-color-hover: var(--text-color);
}
.card--intro {
	position: relative;
	padding: 0 2rem;
}
.card--intro__text {
	font-size: 1.1rem;

	> * + * {
		margin-top: 1rem;
	}
}

.card--news {
	margin-left: 10%;
	padding: 1.5rem;

	font-family: $font-family-serif;

	background-color: rgba(255, 255, 255, 1);
	filter: drop-shadow(0 0 2px rgba(58, 58, 58, 0.35));
}
.card--news__title {
	font-size: 1.2em;
	text-transform: uppercase;
	padding-bottom: 0.75rem;
}
.card--news__content {
}
.card--news__link {
	font-style: italic;
	padding-top: 0.75rem;
	text-align: right;
}

.card--note {
	margin-left: 10%;
	margin-right: 10%;
	text-align: center;
}
.card--note__title {
	font-size: 1.2em;
	// text-transform: uppercase;
	padding-bottom: 0.75rem;
}
.card--note__content {
}

.card--call {
	margin-right: 10%;

	color: white;
	background-color: rgba(0, 0, 0, 0.75);
	border: 2px solid rgba(255, 255, 255, 0.9);

	border-radius: 1.5rem;
	font-family: $font-family-mono;
}
.card--call__header > *:not(:last-child)::after {
	content: ", ";
}
.card--call__meta {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 13px;
}
.card--call__meta small {
	opacity: 0.85;
	font-weight: bolder;
}
.card--call__meta:first-child {
	padding-bottom: 0.75rem;
}
.card--call__meta:last-child {
	padding-top: 0.75rem;
}
.card--call__content {
	position: relative;
}

.card > * {
}
