.ll-graph {
	width: 100%;
	opacity: var(--ll-line-opacity, 0);
}
.ll-graph tbody {
	display: grid;
	grid-gap: 2px;
	width: 100%;
}
.ll-line {
	position: relative;
	width: 100%;

	display: grid;
	grid-gap: 2px;
	grid-template-columns: repeat(var(--ll-count-total), 1fr);
	align-items: center;

	height: 2ch;
	transform-origin: center left;

	--ll-date-width: 6ch;
	--ll-number-width: 4ch;
	padding-left: var(--ll-date-width);
	padding-right: 0;

	@media screen and (min-width: 992px) {
		--ll-date-width: 8ch;
		padding-right: var(--ll-number-width);
	}

	font-size: $font-size-mono;
	font-family: $font-family-mono;
	line-height: 1;

	font-weight: 500;

	background-color: transparent;
}

.ll-line__display {
	position: relative;
	grid-column: 1 / var(--ll-count);
	grid-row: 1 / -1;

	&[data-ll-count="0"] {
		grid-column: 1 / 1;
	}

	transform: scaleX(var(--ll-line-opacity, 0));

	transform-origin: center left;

	--ll-accent-color-opacity: calc((var(--ll-count) * 0.005) + 0.25);
	background-color: $accent-color;
	background-color: hsla(var(--ll-accent-color-hsl), var(--ll-accent-color-opacity, 1));

	height: 2ch;

	@include transition-basic($duration: 500ms);
}
.ll-line__display::after {
	content: attr(data-ll-count);
	display: inline-block;
	position: absolute;
	top: 12.5%;
	left: 0;

	@media screen and (min-width: 992px) {
		left: 100%;
	}
	padding-left: 0.33em;
	line-height: 1;
	font-weight: bold;

	// opacity: 0;

	@include transition-basic;
}
.ll-line {
	&:hover,
	&:active,
	&:focus {
		.ll-line__display::after {
			opacity: 1;
		}
	}
}
.ll-line.ll-highlight {
	color: var(--ll-text-color);

	.ll-line__display {
		filter: drop-shadow(0 0 1rem rgba(58, 58, 58, 0.25)) saturate(180%);
	}
	.ll-line__display::after {
		opacity: 1;
	}
	.ll-line__date {
		> * {
			opacity: 1;
		}
	}
}

.ll-line__date {
	position: absolute;
	top: 0;
	bottom: 0;
	left: -0.5ch;

	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: flex-end;

	width: var(--ll-date-width);

	background-color: rgba(255, 255, 255, 0.9);

	> * {
		opacity: 0.5;
	}

	text-align: right;

	[data-ll-day-of-week]::after {
		@media screen and (min-width: 992px) {
			content: attr(data-ll-day-of-week);
			display: inline-block;
			margin-left: 0.75ch;
			font-weight: bold;
		}
	}
}
