.graph {
	display: grid;
	grid-gap: 2px;

	--ll-count-total: 200;
}
.line {
	position: relative;

	display: grid;
	grid-gap: 2px;
	grid-template-columns: repeat(var(--ll-count-total), 1fr);
	align-items: center;

	height: 2ch;

	--ll-date-width: 6ch;
	--ll-number-width: 4ch;
	padding-left: var(--ll-date-width);
	padding-right: 0;

	@media screen and (min-width: 992px) {
		--ll-date-width: 8ch;
		padding-right: var(--ll-number-width);
	}

	font-size: $font-size-mono;
	font-family: $font-family-mono;
	line-height: 1;

	font-weight: 500;
}

.line__display {
	grid-column: 1 / var(--ll-count);
	grid-row: 1 / -1;

	&[data-count="0"] {
		grid-column: 1 / 1;
	}

	opacity: var(--ll-line-opacity, 0);
	transform: scaleX(var(--ll-line-opacity, 0));

	transform-origin: center left;

	--ll-accent-opacity: calc((var(--ll-count) * 0.005) + 0.25);

	background-color: $accent-color;
	background-color: var(--ll-accent-color, #{$accent-color});

	height: 2ch;

	@include transition-basic($duration: 500ms);
}
.line__display:after {
	content: attr(data-count);
	display: inline-block;
	position: absolute;
	top: 12.5%;
	left: 0;

	@media screen and (min-width: 992px) {
		left: 100%;
	}
	padding-left: 0.33em;
	line-height: 1;
	font-weight: bold;

	opacity: 0;

	@include transition-basic;
}
.line {
	&:hover,
	&:active,
	&:focus {
		.line__display:after {
			opacity: 1;
		}
	}
}

.line__date {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;

	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: flex-end;

	width: var(--ll-date-width);

	background-color: rgba(255, 255, 255, 0.9);

	> * {
		opacity: 0.5;
		margin-right: 0.75ch;
	}

	text-align: right;

	.day {
		display: none;
		@media screen and (min-width: 992px) {
			display: block;
		}
	}
}
