.ll-header,
.ll-footer {
	text-align: center;
	padding: 1rem 1.5rem;
}
.ll-header {
	margin: 3rem auto 0;
}

.ll-footer {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: flex-end;
	margin: 0 auto 3rem;
}

// =========================================
// Columns

.ll-category-wrapper {
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;

	@supports (display: grid) {
		.js & {
			max-width: 100%;

			display: grid;
			grid-template-rows: 1fr;
			grid-template-columns: 1fr;
		}
	}

	> * {
		grid-row: 1 / -1;
		grid-column: 1 / -1;
	}
	> * + * {
		margin-top: 2rem;
		@supports (display: grid) {
			margin-top: unset;
		}
	}
}
.ll-category {
	position: relative;
	@supports (display: grid) {
		display: grid;
		grid-template-rows: 1fr;
		grid-template-columns: 1fr;
		@media screen and (min-width: 992px) {
			grid-template-columns: 3fr 2fr;
		}
		@media screen and (min-width: 1200px) {
			grid-template-columns: 1fr 1fr;
		}
	}

	width: 100%;
	padding: 20px;
	@supports (display: grid) {
		padding: 1rem 0;
	}
	overflow: hidden;
	align-items: stretch;
}
.ll-category {
	&.ll-active,
	.no-js & {
		z-index: 40;
		--ll-line-opacity: 1;
		--ll-card-translate: 0;
		--ll-card-rotate: 0deg;
	}
}

.ll-category-column {
	position: relative;
	display: inline-block;
	vertical-align: top;

	@supports (display: grid) {
		display: block;

		grid-row: 1 / -1;
		grid-column: 1 / -1;
		@media screen and (min-width: 992px) {
			grid-row: unset;
			grid-column: unset;
		}
	}

	padding-top: 1rem;
	overflow: hidden;
}

.ll-category-column--card {
	z-index: 2;
	width: 75%;
	@supports (display: grid) {
		width: 100%;
	}

	justify-items: end;

	> * {
		.js & {
			opacity: var(--ll-line-opacity, 0%);

			transform: translateX(var(--ll-card-translate, 100%)) rotateY(var(--ll-card-rotate, 45deg));
		}
		transform-origin: center right;

		transition-property: transform, opacity;
		transition-duration: 250ms, 500ms;
		transition-timing-function: ease-out;
	}
}

.ll-category-column--graph {
	z-index: 1;
	width: 22.5%;
	@supports (display: grid) {
		width: 100%;
		padding-top: 300px;
	}
}
