.lifeline-header,
.lifeline-footer {
	text-align: center;
	padding: 1rem 1.5rem;
}
.lifeline-header {
	margin: 3rem auto 0;
}

.lifeline-footer {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: flex-end;
	margin: 0 auto 3rem;
}

// =========================================
// Columns

.lifeline-column-wrapper {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr;
	@media screen and (min-width: 992px) {
		grid-template-columns: 3fr 2fr;
	}
	@media screen and (min-width: 1200px) {
		grid-template-columns: 1fr 1fr;
	}

	width: 100%;
	padding: 1rem 0;
	overflow: hidden;
	align-items: stretch;
}
.lifeline-column {
	position: relative;
	grid-row: 1 / -1;
	grid-column: 1 / -1;
	@media screen and (min-width: 992px) {
		grid-row: unset;
		grid-column: unset;
	}

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	align-items: start;

	padding-top: 1rem;
	overflow: hidden;
}

.column-card {
	z-index: 2;

	justify-items: end;

	> * {
		opacity: 0;
		grid-column: 1 / -1;
		grid-row: 1 / -1;

		transform: translateX(var(--ll-card-transform, 100%)) rotateY(var(--ll-card-transform, 45deg));
		transform-origin: center right;

		transition-property: transform, opacity;
		transition-duration: 250ms, 500ms;
		transition-timing-function: ease-out;
	}
	> *.active {
		z-index: 50;

		opacity: 1;
	}
}

.column-graph {
	z-index: 1;

	align-items: center;
	justify-items: stretch;
	padding-top: 10%;
	padding-bottom: 10%;
}
