/**
 * ----------------------------------------
 * Transitions
 * ----------------------------------------
 */

@mixin transition-basic(
	$property: "color, background-color, border-color, text-decoration-color, box-shadow, transform, filter, opacity",
	$duration: 300ms,
	$easing: ease-in-out
) {
	transition-property: unquote($property);
	transition-duration: $duration;
	transition-timing-function: $easing;
}
@mixin transition-high-performance($property: "transform, opacity", $duration: 300ms, $easing: ease-in-out) {
	transition-property: unquote($property);
	transition-duration: $duration;
	transition-timing-function: $easing;
}
