a.button[href],
button {
	appearance: none;

	border-width: 0;

	font-size: 1.15rem;
	padding: 1rem;

	@media screen and (min-width: 992px) {
		font-size: 1.3rem;
		padding: 1.25rem 2.5rem;
	}

	small {
		display: block;
		font-size: 75%;
	}

	color: $text-color;
	color: var(--ll-text-color);
	border-color: $text-color;
	border-color: var(--ll-text-color);
	background-color: transparent;
	outline-color: transparent;

	border-width: 2px;
	border-style: solid;
	border-radius: 2px;

	outline-style: solid;
	outline-width: 2px;

	font-weight: bold;
	text-transform: uppercase;

	&:hover,
	&:active,
	&:focus {
		color: white;
		outline-color: $text-color;
		outline-color: var(--ll-text-color);
		border-color: $accent-color;
		border-color: var(--ll-accent-color);
		background-color: $accent-color;
		background-color: var(--ll-accent-color);
	}
}
a.button[href],
button {
	&.ll-active {
		color: white;
		box-shadow: 0 0 0 0.25rem $text-color;
		box-shadow: 0 0 0 0.25rem var(--ll-text-color);
		outline-color: $text-color;
		outline-color: var(--ll-text-color);
		border-color: $accent-color;
		border-color: var(--ll-accent-color);
		background-color: $accent-color;
		background-color: var(--ll-accent-color);
	}
}

// =========================================
// Nav

.ll-nav {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
}

.ll-nav > * {
	width: calc(50% - 1rem);
	min-width: min-content;
	margin: 0.5rem;

	@media screen and (min-width: 992px) {
		width: auto;
		margin: 0.75rem;
	}
}

// =========================================
