a.button,
button {
	-webkit-appearance: none;
	appearance: none;

	border-width: 0;
	padding: 0.75rem 1.5rem;

	color: white;
	background-color: $text-color;
	background-color: var(--ll-text-color);
	border-radius: 2px;

	font-size: 1.15rem;
	font-weight: bold;
	text-transform: uppercase;

	&:hover,
	&:active,
	&:focus {
		outline-color: $text-color;
		outline-color: var(--ll-text-color);
		background-color: $accent-color;
		background-color: var(--ll-accent-color);
	}
}
a.button,
button {
	&.active {
		box-shadow: 0 0 0 0.25rem $text-color;
		box-shadow: 0 0 0 0.25rem var(--ll-text-color);
		outline-color: $text-color;
		outline-color: var(--ll-text-color);
		background-color: $accent-color;
		background-color: var(--ll-accent-color);
	}
}

// =========================================
// Header

.lifeline-nav {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;

	padding: 0.5rem;

	button {
		font-size: 1.2rem;
		padding: 1.5rem 2.5rem;
	}
}

.lifeline-nav > * {
	margin: 0.75rem;
}

// =========================================
// Intro

.intro-nav {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	justify-content: flex-start;
	padding: 1rem 0;

	button {
		font-size: 1.2rem;
		padding: 1.5rem 2rem;
	}
}
.intro-nav > * {
	width: calc(50% - 2rem);
	margin: 1rem 2rem 1rem 0;
}

// =========================================

// =========================================
// Footer

.lifeline-footer-nav {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: flex-end;

	padding: 0.5rem;
}

.lifeline-footer-nav > * {
	margin: 0.5rem;
}
