// =========================================
// Fonts

$font-family-mono: "SF Mono", "Roboto Mono", "Monaco", "Inconsolata", "Fira Mono", "Droid Sans Mono", "Source Code Pro",
	monospace;
$font-size-mono: 0.8rem;

// =========================================
// Colors

$text-color: hsl(191, 47%, 45%);
$accent-color: hsl(190, 47%, 61%);

$text-color-health: hsla(0, 75%, 35%, 1);
$accent-color-health: hsla(0, 75%, 50%, 1);

$text-color-food: hsl(40, 100%, 35%);
$accent-color-food: hsla(40, 100%, 50%, 1);

$text-color-housing: hsla(240, 100%, 35%, 1);
$accent-color-housing: hsla(240, 100%, 50%, 1);

$text-color-financial: hsla(120, 100%, 15%, 1);
$accent-color-financial: hsla(120, 100%, 30%, 1);

& {
	--ll-text-color: hsl(191, 47%, 45%);
	--ll-accent-color: hsl(190, 47%, 61%);
	--ll-accent-color-hsl: 190, 47%, 61%;
}
.ll-category--health {
	--ll-text-color: hsla(0, 75%, 35%, 1);
	--ll-accent-color: hsla(0, 75%, 50%, 1);
	--ll-accent-color-hsl: 0, 75%, 50%;
}
.ll-category--food {
	--ll-text-color: hsl(40, 100%, 35%);
	--ll-accent-color: hsla(40, 100%, 50%, 1);
	--ll-accent-color-hsl: 40, 100%, 50%;
}
.ll-category--housing {
	--ll-text-color: hsla(240, 100%, 35%, 1);
	--ll-accent-color: hsla(240, 100%, 50%, 1);
	--ll-accent-color-hsl: 240, 100%, 50%;
}
.ll-category--financial {
	--ll-text-color: hsla(120, 100%, 15%, 1);
	--ll-accent-color: hsla(120, 100%, 30%, 1);
	--ll-accent-color-hsl: 120, 100%, 25%;
}

.ll-accent-bg--health {
	background-color: $accent-color-health;
}
.ll-accent-bg--food {
	background-color: $accent-color-food;
}
.ll-accent-bg--housing {
	background-color: $accent-color-housing;
}
.ll-accent-bg--financial {
	background-color: $accent-color-financial;
}
