<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{ title }}</title>
    {# <link rel="stylesheet" href="https://thecurrentla.com/wp-content/themes/paperback-child/editor.css"> #}
    {% set css %}
    {% include "css/reset.css" %}
    {% include "css/main.css" %}
    {% endset %}
    <style>
      {{css | safe}}
    </style>
  </head>
  <body>
    <div class="lifeline lifeline-wrapper" data-active-category="intro">
      <header class="lifeline-header">
        <div class="lifeline-header-title">
          <h1>{{ title }}</h1>
        </div>

        {% for summary in summaries %}
          {% if summary.category == "Intro" %}
            <div class="lifeline-header-text">
              <p>{{ summary.text }}</p>
            </div>
          {% endif %}
        {% endfor %}
        <nav class="lifeline-nav" aria-label="Main Menu">
          {% include "nav-links.njk" %}
        </nav>
      </header>
      <div class="category-desc-wrapper">
        {% for category in categories %}
          {% for summary in summaries %}
            {% if summary.category == category.name %}
              <div class="category-desc category-{{ category.slug }}" data-category="{{ category.slug }}" id="{{category.slug}}">
                <div class="category-desc-title">
                  <h2>{{ category.name }}</h2>
                </div>
                <div class="category-desc-text">
                  <p>{{ summary.text }}</p>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        {% endfor %}
      </div>
      <div class="layout-wrapper">
        <main class="container content-container">
          <div class="scrollable-wrapper-outer">
            <div class="scrollable-wrapper-inner">
              <div class="content">
                {%- for category in categories -%}
                  <section class="category category-{{ category.slug }}" data-category="{{ category.slug }}">
                    <div class="card-group">
                      {%- for item in entries -%}
                        {%- if item.category == category.name or item.category == "All" -%}
                          {% include "card-" ~ item.type ~ ".njk" %}
                        {%- endif -%}
                      {%- endfor -%}
                    </div>
                  </section>
                {%- endfor -%}
              </div>
            </div>
          </div>
        </main>
        <div class="container scrolless-container graph-container">
          <div class="graph" style="--count-total: {{ stat_totals.largest }}">
            {%- for item in stats -%}
              <div class="line" data-date="{{ item.date_num }}">
                <div class="line__date line__text">
                  <span class="date">{{ item.date_short }}</span>
                  <strong class="day">{{ item.day | truncate(1, true, "") }}</strong>
                </div>
                {% for category in categories %}
                  {% if category.slug == "health" %}
                    {% set amount = item.health %}
                  {% endif %}
                  {% if category.slug == "food" %}
                    {% set amount = item.food %}
                  {% endif %}
                  {% if category.slug == "housing" %}
                    {% set amount = item.housing %}
                  {% endif %}
                  {% if category.slug == "financial" %}
                    {% set amount = item.financial %}
                  {% endif %}
                  <div class="line__display category-{{ category.slug }}" style="--count: {{ amount }};" data-count="{{ amount }}">
                    <span class="visually-hidden">
                      {{ category.name }}:
                      {{ amount }}
                      Calls
                    </span>
                  </div>
                {%- endfor -%}
              </div>
            {%- endfor -%}
          </div>
        </div>
      </div>

      <footer class="lifeline-footer">
        <div class="footer-content text-small">
          <p>Quam illa ardentis amores excitaret sui! Cur tandem? Hoc est non dividere, sed frangere. Ergo adhuc, quantum equidem intellego, causa non videtur fuisse mutandi nominis. Est enim effectrix multarum et magnarum voluptatum.</p>
        </div>
        <nav class="lifeline-footer-nav" aria-label="Categories">
          {% include "nav-links.njk" %}
        </nav>
      </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/ScrollTrigger.min.js"></script>

    <script>
      function setActiveCategory(category) {
        document
          .querySelectorAll('[data-category].active')
          .forEach(function (item) {
            item
              .classList
              .remove("active");

          });
        document
          .querySelectorAll('[data-category="' + category + '"]')
          .forEach(function (item) {
            item
              .classList
              .add("active");
          });
        document
          .querySelectorAll('.lifeline')
          .forEach(function (item) {
            item.dataset.activeCategory = category;
          });
      }

      document
        .querySelectorAll('a[href][data-category]')
        .forEach(function (button) {
          button.addEventListener('click', function (event) {
            setActiveCategory(event.target.dataset.category);
          });
        });
      if (window.location.hash) {
        setActiveCategory(window.location.hash);
      }
    </script>
  </body>
</html>