<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{ title }}</title>
    {# <link rel="stylesheet" href="https://thecurrentla.com/wp-content/themes/paperback-child/editor.css"> #}
    {% set css %}
    {% include "css/reset.css" %}
    {% include "css/lifeline.css" %}
    {% endset %}
    <style>
      {{css | safe}}
    </style>
  </head>
  <body>
    {% include "partial.njk" %}
  </body>
  {% set js %}
  {% include "js/lifeline.js" %}
  {% endset %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/ScrollTrigger.min.js"></script>
  <script>
    {{ js | safe }}
  </script>
</html>